.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.socials-wrapper ul {
    list-style: none;
    padding: 0;
}
.socials-wrapper ul li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}
.subscribe__form {
    font-family: "courier";
    text-align: center;
    margin: auto;
    width: 50%;
}
.subscribe__title {
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
}
.subscribe__form form {
    margin-bottom: 16px;
}
.subscribe__form input[type="email"] {
    font-family: "courier";
    font-size: 15px;
    width: 200px;
    height: 30px;
    background: none;
    color: #7f7f7f;
    border: 1px solid #fd6aa4;
    border-radius: 5px;
    padding-left: 15px;
}
.subscribe__form input[type="submit"] {
    font-family: "courier";
    font-size: 15px;
    height: 32px;
    background: none;
    padding: 1px;
    color: #7f7f7f;
    border: 1px solid #fd6aa4;
    border-radius: 5px;
    cursor: pointer;
}
.subscribe__form input[type="submit"]:hover {
    background: #fd6aa4;
    color: #000000;
}

.subscribe__terms {
    display: block;
    margin-top: 16px;
    cursor: pointer;
}
.subscribe__terms:after {
    content: "None";
}
.subscribe__terms.active:after {
    content: "Terms";
}
.subscribe__text {
    display: none;
    line-height: 2;
}
.subscribe__text a {
    color: #fff;
}

body {
    margin: 0 auto;
    text-align: center;
    background: #000000;
    color: #7f7f7f;
    font-family: "courier";
}
img {
    max-width: 100%;
    height: auto;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.dropbtn {
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: black;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  color: gray;
  font-weight: 300;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;
}

.buynowbutton {
  margin: 0;
  padding: 0.5rem 1rem;

  font-family: "courier", sans-serif;
  font-size: 1rem;
  font-style: bold;
  color: black;
  font-weight: 300;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;
}

.entersitebutton {
  margin: 0;
  padding: 0.5rem 1rem;

  font-family: "courier", sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 300;
  font-style: bold;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;
}
