.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.socials-wrapper ul {
    list-style: none;
    padding: 0;
}
.socials-wrapper ul li {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}
.subscribe__form {
    font-family: "courier";
    margin: auto;
    text-align: center;
    width: 50%;
}
.subscribe__title {
    margin-bottom: 15px;
    font-size: 14px;
    display: block;
}
.subscribe__form form {
    margin-bottom: 16px;
}
.subscribe__form input[type="email"] {
    background: none;
    border: 1px solid #fd6aa4;
    border-radius: 5px;
    color: #7f7f7f; 
    font-family: "courier";
    font-size: 15px;
    height: 30px;
    padding-left: 15px;
    width: 200px;
}
.subscribe__form input[type="submit"] {
    background: none;
    border: 1px solid #fd6aa4;
    color: #7f7f7f;
    cursor: pointer;
    border-radius: 5px;
    font-family: "courier";
    font-size: 15px;
    height: 32px;
    padding: 1px;
}
.subscribe__form input[type="submit"]:hover {
    background: #fd6aa4;
    color: #000000;
}
.subscribe__terms {
    cursor: pointer;
    display: block;
    margin-top: 16px;
}
.subscribe__terms:after {
    content: "None";
}
.subscribe__terms.active:after {
    content: "Terms";
}
.subscribe__text {
    display: none;
    line-height: 2;
}
.subscribe__text a {
    color: #fff;
}

body {
    background: #000000;
    color: #7f7f7f;
    font-family: "courier";
    margin: 0 auto;
    text-align: center;
}
img {
    height: auto;
    max-width: 100%;
}
a:link {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

a:visited {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

.terms {
  background-color: black;
  border: none;
  border-radius: 4px;
  color: gray;
  display: inline-block;
  font-family: "courier", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  width: auto;
}

.buynowbutton {
  border: none;
  border-radius: 40px;
  color: black;
  display: inline-block;
  font-family: "courier", sans-serif;
  font-size: 1.05rem;
  font-style: bold;
  font-weight: 300;
  margin: 0;
  padding: 1em 3.8rem;
  text-align: center;
  text-decoration: none;
  width: auto;
}

.entersitebutton {
  border: none;
  border-radius: 40px;
  color: black;
  display: inline-block;
  font-family: "courier", sans-serif;
  font-size: 1.05rem;
  font-style: bold;
  font-weight: 300;
  margin: 0;
  padding: 1em 3.2rem;
  text-align: center;
  text-decoration: none;
  width: auto;
}

.paragraph {
  font-family: "courier";
    font-size: 11px;
}