body {
    background-color: black;
    color: cornflowerblue;
}
h1 {
    color: cornflowerblue;
    font-family: sans-serif;
}
p {
    font-family: monospace;
    font-size: 150%;
    text-align: center;
}  
hr {
  border-top: 5px solid cornflowerblue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

body {
    font-family: sans-serif;
    margin: 0 88px 0 50px;
    font-size: 100%;
}

h1 {
    font-family: sans-serif;
    font-size: 3em;
    text-align: center;
}